@font-face {
    font-family: 'Rostelecom Basis';
    src: url('RostelecomBasis-Medium.eot');
    src: url('RostelecomBasis-Medium.eot?#iefix') format('embedded-opentype'),
        url('RostelecomBasis-Medium.woff2') format('woff2'),
        url('RostelecomBasis-Medium.woff') format('woff'),
        url('RostelecomBasis-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rostelecom Basis';
    src: url('RostelecomBasis-Regular.eot');
    src: url('RostelecomBasis-Regular.eot?#iefix') format('embedded-opentype'),
        url('RostelecomBasis-Regular.woff2') format('woff2'),
        url('RostelecomBasis-Regular.woff') format('woff'),
        url('RostelecomBasis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rostelecom Basis';
    src: url('RostelecomBasis-Light.eot');
    src: url('RostelecomBasis-Light.eot?#iefix') format('embedded-opentype'),
        url('RostelecomBasis-Light.woff2') format('woff2'),
        url('RostelecomBasis-Light.woff') format('woff'),
        url('RostelecomBasis-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rostelecom Basis';
    src: url('RostelecomBasis-Bold.eot');
    src: url('RostelecomBasis-Bold.eot?#iefix') format('embedded-opentype'),
        url('RostelecomBasis-Bold.woff2') format('woff2'),
        url('RostelecomBasis-Bold.woff') format('woff'),
        url('RostelecomBasis-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

